@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&display=swap');

h1,h2,.h1,.h2 {
    font-family: 'Old Standard TT', serif;
}

body {
    background-color: #000;
}

* {
    color: #dddd;
}

.header {
    min-height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.3),black), url('./media/header.jpeg');
    background-size: cover;
    background-position: center;
}


h1 {
    color: red;
    font-weight: 900;
    font-size: 90px;
    text-shadow: 5px 5px 6px rgba(0, 0, 0, 1);
}


#slide1,#slide2,#slide3 {
    position: absolute;
    background: black;
    top: 100px;
    left: 0px;
    transition: 1s;
}

#slide1,#slide2,#slide3 {
    opacity: 0;
}

#button1:hover ~ #slide1 {
    
   opacity: 1 !important;
}


#button2:hover ~ #slide2 {
    
   opacity: 1 !important;
}